body {
text-align: center;
background: linear-gradient(#ffff00 0%,#00ef00 100%); 
font-family:'Pacifico', cursive;
}
p {
font-size: 25px;    
}
h2 {
color:aqua;    
}
h1 {
color:darkorange;
}